/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table , td{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
 }

.errors{ 
   color: red; 
}  
.game_container{
   margin: 0 auto; 
   padding: 3px;
   text-align: center;
}

.game_details{
   display: inline-block;
   margin: 5px;
   margin-top: 10px;
   padding: 5px;
}

img{
   width: 7em;
   height: 10em;
}

.game_card_img{
   height: 10em;
   margin-bottom: 5px;
}

.cards{
   height: 100%;
   display: inline-block;
   transform-style: preserve-3d;
   position: relative;
   transition: transform 1s ease-in-out;
}

.cards figure{
   position: relative;
   margin: 0;
}

figure.back{
   background-color: black;
   width: 7em;
   height: 164px;
   bottom: 166px;
   border-radius: 4px;
}

.btn{
   width: 7em;
   font-size: 12px;
}

@keyframes fade{
   0% {
      display: block;
      opacity: 1;
   }
   20% {
      display: block;
      opacity: 0.8;
   }
   40%{
      display: block;
      opacity: 0.6;
   }
   60% {
      display: block;
      opacity: 0.4;
   }
   80% {
      display: block;
      opacity: 0.2;
   }
   100%{
      display: none;
      opacity: 0;
   }
}